$auth-form-size: 45vw;
$auth-form-size-col: 80vw;
$auth-field-size: calc($auth-form-size * 0.7);
$auth-field-size-col: calc($auth-form-size-col * 0.7);

// RANDOM IMAGES
.auth-wrapper {
	.random-img {
		height: 80vh;
		overflow: hidden;
		@include filter-darken();
		@include main-box-shadow($highlight, 0.7);
	}
	.grid {
		gap: 0;
		justify-content: space-around;
	}
	.grid-column {
		width: $auth-form-size;
	}
	@include max-screen($tabletWidth) {
		.random-img {
			height: 30vw;
		}
		.grid {
			gap: 5vw;
			align-items: center;
		}
		.grid-column {
			width: $auth-form-size-col;
		}
		.auth-input-wrapper {
			width: $auth-field-size-col;
		}
		.request-fail {
			max-width: $auth-form-size-col * 0.9;
		}
	}
}

// FORM
.auth-form-desc {
	margin: 0.3rem 1rem 0.5rem;
	line-height: 1.2;
}

// INPUT
.auth-input-wrapper {
	width: $auth-field-size;
	margin: 1rem auto;
}
