$auth-form-size-max: 40vw;
$auth-form-size-mid: 45vw;
$auth-form-size-col: 80vw;
$auth-field-size-max: calc($auth-form-size-max * 0.7);
$auth-field-size-mid: calc($auth-form-size-mid * 0.7);
$auth-field-size-col: calc($auth-form-size-col * 0.7);

// RANDOM IMAGES
.auth-wrapper {
	.random-img {
		height: $contentHeight * 0.96;
		overflow: hidden;
		@include filter-darken();
		@include main-box-shadow($highlight, 0.7);
	}
	.grid {
		gap: 0;
		justify-content: space-around;
	}
	.grid-column {
		width: $auth-form-size-mid;
	}
	@include min-screen($maxDesktopWidth) {
		.grid-column {
			width: $auth-form-size-max;
		}
		.auth-input-wrapper {
			width: $auth-field-size-max;
		}
	}
	@include max-screen($tabletWidth) {
		.random-img {
			height: 30vw;
		}
		.grid {
			gap: 5vw;
			align-items: center;
		}
		.grid-column {
			width: $auth-form-size-col;
		}
		.auth-form-wrapper {
			margin-bottom: 1.5rem;
		}
		.auth-input-wrapper {
			width: $auth-field-size-col;
		}
		.request-fail {
			max-width: $auth-form-size-col * 0.9;
		}
	}
}

// FORM
.auth-form-wrapper {
	margin-top: 1rem;
}

.auth-form-desc {
	margin: 0.2rem 1rem 0.8rem;
	line-height: 1.1;
	font-size: 0.9rem;
}

// INPUT
.auth-input-wrapper {
	width: $auth-field-size-mid;
	margin: 0.3rem auto;
}
