$cardSizeLg: 350px;
$cardSizeMd: 300px;
$cardSizeSm: 240px;

@mixin cardBg($alpha) {
	background: radial-gradient(circle, rgba(0, 0, 0, $alpha) 0%, rgba(0, 0, 0, $alpha) 0%), var(--imgHomeCard);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

@mixin text-shift($contShift, $descShift) {
	.home-card-content {
		margin-top: $contShift;
	}
	.home-card-description {
		top: $descShift;
	}
}

.home-card-wrapper {
	.grid {
		justify-content: space-around;
	}
	.grid-cell {
		margin: 0 auto;
	}
}

.home-card {
	color: $gray-8;
	line-height: 1.1rem;
	@include cardBg(0.6);
	height: $cardSizeLg;
	width: $cardSizeLg;
	&:hover {
		@include cardBg(0.7);
		@include main-box-shadow($highlight, 0.7);
		@include text-shift(12%, 50%);
		.home-cart-line {
			@include horizontal-line-animation();
		}
		.home-card-description {
			opacity: 1;
		}
	}
}

.home-card-content {
	@include flex($flex-direction: column, $align-items: center, $text-align: center);
	@include main-transition($duration: 0.5s);
	margin: 35% auto 0;
}

.home-card-title {
	font-family: $headerFont;
	text-transform: uppercase;
	font-size: 1.5rem;
	@include letter-spacing(0.8rem);
	@include highlight-text-shadow();
}

.home-cart-line {
	@include horizontal-line-highlight($highlight);
}

.home-card-description {
	font-size: 0.9rem;
	font-style: italic;
	padding: 0 10px;
	text-align: center;
	color: rgba($gray-8, 0.9);
	position: absolute;
	top: calc($cardSizeLg - 80px);
	opacity: 0;
	@include main-transition($duration: 0.5s);
}

@include desktop() {
	.home-card {
		height: $cardSizeMd;
		width: $cardSizeMd;
	}
}
@include smDesktop() {
	.home-card {
		height: $cardSizeSm;
		width: $cardSizeSm;
	}
}
@include max-screen($tabletWidth) {
	.home-card {
		line-height: 1.3rem;
	}
	.home-card-title {
		font-size: 2rem;
		@include letter-spacing(1.4rem);
	}
	.home-card-subtitle {
		font-size: 1.5rem;
	}
	.home-card-description {
		font-size: 1.3rem;
	}
}
@include max-screen($phoneWidth) {
	.home-card {
		height: $cardSizeSm;
		width: $cardSizeSm;
	}
	.home-card-title {
		font-size: 1.9rem;
		@include letter-spacing(0.8rem);
	}
	.home-card-subtitle {
		font-size: 1.1rem;
	}
	.home-card-description {
		font-size: 1rem;
	}
}
