.home-card-wrapper {
	&.grid {
		justify-content: space-around;
	}
	.grid-cell {
		margin: 0 auto;
	}
}
.home-info-wrapper {
	&.grid {
		gap: 0;
		align-items: center;
	}
	img {
		@include main-box-shadow($highlight, 0.7);
		@include filter-darken();
		width: 30vw;
	}
	.home-info-gap {
		margin-left: 2rem;
	}
}
.contact-wrapper {
	&.grid {
		align-items: center;
		justify-content: space-between;
	}
	li {
		margin-bottom: 1rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.home-info-block {
	width: 35vw;
	height: auto;
	padding: 0.5rem;
	p {
		margin-bottom: 0.5rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
	@include main-border($gray-80);
	@include shift-background($top: -0.6rem, $right: -0.6rem);
}

$home-card-shift: 0.8rem;
.shift-top-right {
	@include shift-element($left: $home-card-shift, $top: -$home-card-shift);
}

.shift-top {
	@include shift-element($top: -$home-card-shift);
}

.shift-bottom-left {
	@include shift-element($right: $home-card-shift, $top: $home-card-shift);
}

$home-width__col: 85vw;
@include max-screen($tabletWidth) {
	.home-info-wrapper {
		.grid-column {
			gap: 0;
		}
		img {
			width: $home-width__col;
		}
		.home-info-gap {
			gap: 1rem;
			margin-left: 0;
			margin-top: 1.2rem;
		}
		.home-info-block {
			width: $home-width__col;
		}
	}
	.contact-wrapper {
		li {
			margin-bottom: 0.8rem;
		}
	}
	.cell-img-padding {
		padding: 0.8rem;
	}
	.shift-top-right,
	.shift-bottom-left,
	.shift-top {
		@include shift-element();
	}
}
