.arrow-link-wrapper {
	@include flex($justify-content: center, $align-items: center, $text-align: center);
	&:hover {
		.arrow-link-text:after {
			transform: translate(0.3rem, 0) rotate(45deg);
		}
	}
}

$link-arrow-size: 0.7rem;
$link-arrow-width: 0.1rem;
.arrow-link-text {
	color: $brown-60;
	text-transform: uppercase;
	font-family: $headerFont;
	letter-spacing: 0.6rem;
	&:after {
		display: inline-block;
		content: '';
		width: $link-arrow-size;
		height: $link-arrow-size;
		border-top: $link-arrow-width solid $brown-60;
		border-right: $link-arrow-width solid $brown-60;
		@include main-transition();
		transform: translate(0, 0) rotate(45deg);
	}
}
