@mixin menu-item-title-active() {
	@include main-transition($duration: 0.1s);
	background-color: rgba($highlight, 0.1);
}

.menu-wrapper {
	@include flex($flex-direction: column, $justify-content: center, $align-items: center);
	margin-bottom: 1.5rem;
}

.menu-products .grid-column {
	@include max-screen($tabletWidth) {
		width: 80% !important;
		justify-content: center;
		margin: 0 auto;
		.grid-cell {
			margin: 0 0.5rem;
		}
	}
	@include max-screen($phoneWidth) {
		width: 100% !important;
	}
}

// MENU
.menu-products {
	&.grid {
		margin: 1rem auto;
	}
	.grid-cell {
		@include flex();
		.vertical-line {
			opacity: 0;
			margin-right: 0.1rem;
		}
		&:hover {
			.vertical-line {
				opacity: 1;
			}
		}
	}
	.menu-item-active {
		.vertical-line {
			opacity: 1;
		}
		.menu-item-title {
			@include menu-item-title-active();
		}
	}
	label {
		cursor: pointer;
		input {
			display: none;
			&:checked ~ .grid-cell {
				.vertical-line {
					opacity: 1;
				}
			}
			&:checked ~ div {
				.menu-item-title {
					@include menu-item-title-active();
				}
			}
		}
	}
}

// TEXT MENU
.menu-category-title {
	text-align: center;
	font-family: $headerFont;
	text-transform: uppercase;
	@include letter-spacing(1rem);
	color: $gray-2;
	background-color: rgba($brown-45, 0.4);
	@include text-shadow();
}

.menu-item {
	width: 100%;
}
.menu-item-title {
	@include flex($justify-content: space-between);
	line-height: 1.1;
	font-size: 0.8rem;
}
.menu-item-price {
	margin-left: 0.3rem;
	font-weight: bold;
}
.menu-item-description {
	margin: 0.2rem 0 0.2rem;
	font-size: 0.7rem;
	line-height: 1.2;
	font-style: italic;
}
.menu-item-size {
	font-size: 0.7rem;
	line-height: 1.2;
	color: rgba($brown-60, 0.6);
}

// MENU MANAGER
.menu-mng-wrapper {
	@include flex($flex-direction: column, $justify-content: center, $align-items: center);
	margin: 0 auto 1rem;
	width: 90vw;
	.scrollbar__wrapper {
		width: 100%;
	}
}
.menu-mng-obj {
	@include flex($flex-direction: row, $flex-wrap: nowrap, $justify-content: space-between, $align-items: center);
	line-height: 1.1;
	margin-top: 0.6rem;
	&.unavailable {
		p {
			opacity: 0.5;
		}
	}
}
