$line-size: 25px;
$line-padding-lr: 10px;
$line-padding-tb: calc($line-padding-lr - 0px);
$navbar-width: 310px;

.navbar {
	font-family: $navbarFont;
	font-size: $navbarFontSize;
	text-transform: uppercase;
	background-color: transparent;
	margin: 0;
	z-index: 99;
	position: fixed;
	width: 100%;
}

.navbar-content {
	@include flex($justify-content: right, $align-items: center);
	margin: 0 auto;
	max-width: calc($lgDesktopWidth + 100px);
}

.navbar-btn {
	@include flex($justify-content: center, $align-items: center);
	position: relative;
	padding: $line-padding-tb $line-padding-lr;
	border-radius: $mainBorderRadius;
	overflow: hidden;
	@include main-transition($duration: 0.2s);
	background-color: rgba(#000000, 0.4);
	// &.onScroll {
	// 	background-color: rgba(#000000, 0.4);
	// }
	input {
		width: $line-size;
		height: $line-size;
		cursor: pointer;
		opacity: 0;
		&:checked ~ .navbar-menu {
			width: $navbar-width;
		}
		&:checked ~ span {
			background-color: $gray-8;
			&:nth-child(2) {
				transform: translateY(0) rotate(-45deg);
			}
			&:nth-child(3) {
				transform: translateY(0) rotate(45deg);
			}
		}
	}
	span {
		position: absolute;
		left: $line-padding-lr;
		width: $line-size;
		height: 2px;
		border-radius: $mainBorderRadius;
		background-color: $gray-8;
		pointer-events: none;
		@include main-transition($duration: 0.2s);
		&:nth-child(2) {
			transform: translateY(-5px);
		}
		&:nth-child(3) {
			transform: translateY(5px);
		}
	}
}

.navbar-menu {
	@include flex($justify-content: center, $align-items: center);
	margin: 0;
	width: 0;
	overflow: hidden;
	@include main-transition($duration: 0.2s);
}

.navbar-list {
	@include flex($justify-content: center, $align-items: center);
	margin: 0;
}

.navbar-item {
	margin-right: 12px;
	cursor: pointer;
	&:last-child {
		margin-right: 0;
	}
}

.navbar-link {
	list-style: none;
	color: $gray-8;
	@include main-transition($duration: 0.2s);
	&:hover {
		color: $highlight;
	}
}
