.search-bar-wrapper {
	width: 100%;
	display: inline-flex;
	align-items: center;
	.grid-tb {
		width: 100%;
	}
	.grid-tb-cell {
		@include flex($flex-direction: column);
	}
	.main-input-text {
		margin-bottom: 0.3rem;
		input {
			height: 1.3rem;
			font-size: 0.8rem;
			&::placeholder {
				font-size: 0.7rem;
			}
		}
	}
	.main-input-check {
		margin-bottom: 0.5rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.form-error-block {
		height: 1.5rem;
	}
	.form-error-msg {
		margin-top: 0;
		font-size: 0.55rem;
		width: 13vw;
		@include max-screen($tabletWidth) {
			width: 20vw;
		}
	}
}
