.footer-wrapper {
	@include flex($flex-direction: column, $justify-content: center, $align-items: center);
	padding: 10px 0;
}

.social-media-wrapper {
	@include flex($flex-direction: row, $flex-wrap: nowrap, $justify-content: center, $align-items: center);
	max-width: $smPhoneWidth;
	margin: 20px auto;
}

.social-media-icon {
	width: $svgIconSize;
	height: $svgIconSize;
	float: left;
	margin: 0 1em;
	color: $gray-80;
	background: transparent;
	border-radius: $mainBorderRadius;
	@include main-transition($duration: 0.25s);
	&:focus {
		outline-color: inherit;
	}
}

@mixin socialMedia($color) {
	&:hover,
	&:focus {
		color: $color;
		filter: drop-shadow($iconShadow $color);
	}
}

.vk {
	@include socialMedia($vk-color);
}

.instagram {
	@include socialMedia($instagram-color);
}

.telegram {
	@include socialMedia($telegram-color);
}
